@using Domain.Models
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorTest</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        
        <AuthorizeView>
            @* --- EVERYTHING IN HERE ONLY SHOWS IF LOGGED IN --- *@
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>

                @* Specific Role Links *@
                <AuthorizeView Roles="User" Context="userContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="personal-info">
                            <span class="bi bi-person-fill" aria-hidden="true"></span> Personal Information
                        </NavLink>
                    </div>
                </AuthorizeView>

                <AuthorizeView Roles="Admin" Context="adminContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="user-management">
                            <span class="bi bi-people-fill" aria-hidden="true"></span> User Management
                        </NavLink>
                    </div>
                </AuthorizeView>

                <AuthorizeView Roles="Company" Context="companyContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="company-management">
                            <span class="bi bi-building-fill" aria-hidden="true"></span> Companies
                        </NavLink>
                    </div>
                </AuthorizeView>

                @* Logout Link for everyone who is logged in *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </Authorized>

            @* --- ONLY SHOWS IF NOT LOGGED IN --- *@
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-lock-fill" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private User? User { get; set; } = new();
    
}